* {
    box-sizing: border-box;
    margin: 0;
}

/* colors */

.bg-color-red {
    background-color: #ff0000;
}

.bg-color-black {
    background-color: #000000;
}

.bg-color-green {
    background-color: #35f500;
}

.bg-color-blue {
    background-color: #0000ff;
}

.bg-color-yellow {
    background-color: #ffff00;
}

.bg-color-purple {
    background-color: #800080;
}

/* background-color-category, colors are defined in style.css*/

.bg-cat-color-lightblue {
    background-color: var(--lightblue);
}

.bg-cat-color-red {
    background-color: var(--red);
}

.bg-cat-color-green {
    background-color: var(--green);
}

.bg-cat-color-orange {
    background-color: var(--orange);
}

.bg-cat-color-purple {
    background-color: var(--purple);
}

.bg-cat-color-darkblue {
    background-color: var(--darkblue);
}


body {
    background: var(--background-white);
}


.board-content {
    margin: 30px;
}

.board-header {
    width: 1145px;
    height: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.board-header h1 {
    font-size: 61px;
    font-weight: 700;
}

.board-header-search {
    display: flex;
    flex-direction: row;
}

.input-container {
    width: 251px;
    height: 51px;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD;
}

.search-img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-img-hr {
    width: 1px;
    height: 30px;
    background-color: #D1D1D1;
    position: absolute;
    right: 50px;
    top: 25%;
    border: none;
}

button {
    width: 137px;
    height: 51px;
    background-color: #2A3647;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.board-body-container {
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.board-body-haeder {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-box {
    width: 250px;
    /* height: 100%; */
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.todo-box-header {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    padding: 4px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.todo-box-title {
    font-size: 16px;
    font-weight: 600;
    color: #2A3647;
    margin-bottom: 20px;
}

.todo-box-body {
    color: #D1D1D1;
}

.todo-box-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 10px;
}

.todo-box-progress-bar {
    width: 70%;
    height: 10px;
    background-color: #D1D1D1;
    border-radius: 10px;
    margin-top: 5px;
}

.todo-box-progress-bar-fill {
    width: 33%;
    height: 100%;
    background-color: #29ABE2;
    border-radius: 10px;
}

.todo-box-footer-bar {
    display: flex;
    flex-direction: row;
}

.todo-box-footer {
    width: 35px;
    height: 35px;
    color: #FFFFFF;
    /* background-color: #37ff00; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    margin-top: 20px;
    margin-right: -15px;
}




/*======Shows active site=====  */
#temp-board {
    background-color: var(--background-dark-active);
}

#temp-board p {
    color: white;
}

#board-icon-img-hover {
    display: unset;

}

/* ========================================= */


/* drag and drop */

.drag-area {
    height: 600px;
    width: 250px;

}