* {
    box-sizing: border-box;
    margin: 0;
}

/* colors */

.bg-color-red {
    background-color: #ff0000;
}

.bg-color-black {
    background-color: #000000;
}

.bg-color-green {
    background-color: #35f500;
}

.bg-color-blue {
    background-color: #0000ff;
}

.bg-color-yellow {
    background-color: #ffff00;
}

.bg-color-purple {
    background-color: #800080;
}

/* background-color-category, colors are defined in style.css*/

.bg-cat-color-lightblue {
    background-color: var(--lightblue);
}

.bg-cat-color-red {
    background-color: var(--red);
}

.bg-cat-color-green {
    background-color: var(--green);
}

.bg-cat-color-orange {
    background-color: var(--orange);
}

.bg-cat-color-purple {
    background-color: var(--purple);
}

.bg-cat-color-darkblue {
    background-color: var(--darkblue);
}


body {
    background: var(--background-white);
}


.board-content {
    margin: 30px;
}

.board-header {
    width: 1145px;
    height: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.board-header h1 {
    font-size: 61px;
    font-weight: 700;
}

.board-header-search {
    display: flex;
    flex-direction: row;
}

.input-container {
    width: 251px;
    height: 51px;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD;
}

.search-img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-img-hr {
    width: 1px;
    height: 30px;
    background-color: #D1D1D1;
    position: absolute;
    right: 50px;
    top: 25%;
    border: none;
}

button {
    width: 137px;
    height: 51px;
    background-color: #2A3647;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.board-body-container {
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.board-body-haeder {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-box{
    width: 250px;
    /* height: 100%; */
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.todo-box:hover {
    transform: rotate(2deg);

}
.todo-box:hover{
    transform: rotate(2deg);

} 

.todo-box-header {
    display: inline-block;
    background-color: #29ABE2;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    padding: 4px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.todo-box-title {
    font-size: 16px;
    font-weight: 600;
    color: #2A3647;
    margin-bottom: 20px;
}

.todo-box-body {
    color: #D1D1D1;
}

.todo-box-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 10px;
}

.todo-box-progress-bar {
    width: 70%;
    height: 10px;
    background-color: #D1D1D1;
    border-radius: 10px;
    margin-top: 5px;
}

.todo-box-progress-bar-fill {
    width: 33%;
    height: 100%;
    background-color: #29ABE2;
    border-radius: 10px;
}

.todo-box-footer-bar {
    display: flex;
    flex-direction: row;
}

.todo-box-footer {
    width: 100%;
    height: 35px;
    /* background-color: #37ff00; */
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FFFFFF;
    margin-top: 20px;

}
.todo-box-footer-right{
    background-color: #aa5af9;
    border-radius: 50%;
    padding: 10px;
    color: #ffffff;
}


/*======Shows active site=====  */
#temp-board {
    background-color: var(--background-dark-active);
}

#temp-board p {
    color: white;
}

#board-icon-img-hover {
    display: unset;

}

/* ========================================= */


/* drag and drop */

.drag-area {
    height: 600px;
    width: 250px;

}

#showTodo {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}
.modal-content{
    position: absolute;
    width: 623px;
    height: 798px;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.displayNone {
    display: none;
}
.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.modal-close button{
    background-color: transparent;
}
.todo-delete{
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 10px;
    border: 2px solid #2A3647;
    padding: 10px;
    cursor: pointer;
}
.todo-delete img{
    width: 30px;
    height: 30px;
}
.modal-category{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    background-color: #dcdf0d;
    padding: 14px 20px;
    border-radius: 10px;
    margin-left: 20px;
}
.modal-title{
    font-size: 2rem;
    font-weight: 900;
    color: #2A3647;
    margin: 20px;
}
.modal-text{
    font-size: 1.5rem;
    font-weight: 400;
    color: #2A3647;
    margin: 20px;
}
.modal-date{
    font-size: 1.5rem;
    font-weight: 400;
    color: #2A3647;
    margin: 20px;
}
.modal-priority{
    font-size: 1.5rem;
    font-weight: 400;
    color: #2A3647;
    margin: 20px;
}
.modal-members{
    font-size: 1.5rem;
    font-weight: 400;
    color: #2A3647;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#priority{
    background-color: #ff0000;
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px;
    box-shadow: rgba(0, 0, 0, 0.2)  0px 0px 2px;
}