* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter';
}

body {
    background-color: var(--background-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 71px;
    font-weight: 700;
}

button {
    cursor: pointer;
}

.content-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*  move Image----------------- */

.img-container {
    position: absolute;
    top: calc(50% - 117px);
    left: calc(50% - 137px);
    width: 274px;
    transition: width 1s ease-in-out 500ms, top 1s ease-in-out 500ms, left 1s ease-in-out 500ms;
    display: flex;
}


.img-container img {
    width: 274px;
    transition: width 1s ease-in-out 500ms;
}

.movedContainer {
    width: 100px !important;
    top: 37px;
    left: 38px;
}

.movedImage {
    width: 100px !important;
}



/* helpers------------------- */

.opacity {
    opacity: 1.0 !important;
}


/* ------------------- */

.login-header {
    position: absolute;
    top: 67px;
    left: 199px;
    width: calc(100% - 199px);
    display: flex;
    justify-content: end;
    opacity: 0.0;
    transition: opacity 1s ease-in-out 500ms;
}


.login-header-signup {
    padding-right: 122px;
    display: flex;
    align-items: center;
    gap: 35px;
}


.btn-login-singup {
    width: 91px;
    height: 51px;
}

.btn-login-singup:hover {
    background: var(--ligthblue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* -------------------- */
.form-container {
    display: flex;
    justify-content: center;
}

.login-form {
    opacity: 0.0;
    transition: opacity 1s ease-in-out 500ms;

    display: inline-flex;
    padding: 36px 109px;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    border-radius: 30px;
    background: var(--white, #FFF);

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.input-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

button {
    background-color: #2A3647;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
    color: #FFFFFF;
}



.input-container {
    width: 422px;
    height: 51px;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD;
}

.login-img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.login-remember {
    width: 335px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.login-chackbox {
    width: 146px;
    display: flex;
    flex-direction: row;
}

.login-chakbox-insert {
    width: 50px;
    height: 18px;
    padding: 5px 5px;
}

label {
    width: 180px;
}

.login-link {
    text-decoration: none;
    color: #29ABE2;
}

.login-submit {
    width: 335px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.login-guest {
    width: 151px;
    height: 51px;
    font-size: 19px;
    background-color: #FFFFFF;
    color: #2A3647;
    border: 1px solid #2A3647;
    padding: 4px 16px;
}

.sign-up-form {
    position: relative;
    width: 652px;
    height: 557px;
    display: inline-flex;
    padding: 36px 109px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.signup-btn {
    width: 145px;
    height: 51px;
    font-size: 21px;
    font-weight: 700;
}

.form-hr {
    width: 150px;
    height: 3px;
    border-radius: 3px;
    background-color: #29ABE2;
    border: none;
}

.back {
    position: absolute;
    top: 40px;
    left: 30px;
    cursor: pointer;
}

.forgot-password {
    width: 826px;
    height: 459px;
    display: inline-flex;
    padding: 36px 109px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.forgot-password-btn {
    width: 246px;
    height: 51px;
}

.new-pw {
    position: relative;
    width: 826px;
    height: 459px;
}

.bg-red {
    background-color: #d7626246;
}

/* footer-------------- */

.indexFooter {
    position: absolute;
    bottom: 40px;
    display: flex;
    gap: 16px;
    opacity: 0.0;
    transition: opacity 1s ease-in-out 500ms;
}

.indexFooter a {
    text-decoration: none;
}


/* login responsive----------- */

/* mobile-version */
@media (max-width: 1000px) {
    .movedImage {
        width: 64px !important;
    }

    .login-form {
        width: 396px;
    }

    .typo2t1 {
        font-family: 'Inter' !important;
        font-size: 47px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 56.4px !important;
    }

    .input-container {
        width: 364px;
    }

    .login-header {
        width: auto;
        top: 778px;
        left: calc(50% - 124px);
    }

    .login-header-signup {
        padding-right: 0px;
    }

    .indexFooter {
        bottom: 22px;
    }
}